.cuerpoInicio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 70px;
    article{
        display: flex;
        align-items: center;
        p{
            color: black;
            text-align: center;
        }
    }
}
.img1{
    width: 50%;
}