// Variables de color para los gradientes
$colorTema1: linear-gradient(90deg, #ff416c, #ff4b2b);
$colorTema2: black;// Gradiente con otros tonos
$colorTema3: #07203f;
$colorTema4: #04315a;
$colorTema5: #038587;
$colorTema6: #015a94;
$colorTema7: #ffffff;

