@import "tema";
@import "inicio";
@import "personajes";
@import "rangos";

*{
    margin: 0;
    padding: 0;
    background-color: $colorTema2;

}

// barra de navegacion
body{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
        header{
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        padding: 10px;
        justify-content: space-between;
        img{
            margin-left: 50px;
        }
        nav{
            margin: 0px 50px 0px 50px ;
            ul{
                display: flex;
                padding: 10px;
                border: beige 3px solid;
                padding: 10px;
                list-style: none;
                li{
                    a{
                        padding: 10px;
                        color: beige;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


section{
    h1{
        color: beige;
        text-align: center;
    }
}


.CUERPO{

    border: 5px solid beige;
    color: beige;
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-size: 100px;
    padding: 300px 0px 300px 0px;
}



footer{
    section{
        color: beige;
        border: 5px beige solid;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            display: flex;
            margin: 10px;
            margin: 0px 30px 0px 30px;
            h2{
                padding: 10px;
            }
            a{
                padding: 2px;
                img{
                    border: 1px beige solid;
                }
            } 
        }
    }
}
