@charset "UTF-8";
/* Animación Fade-Out para Preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 1.5s forwards;
  animation-delay: 2s;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Mobile First Design */
/* Estilos para la sección del héroe */ /* Estilos para la sección del héroe */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Hace que el video quede detrás del contenido */
}

.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Hace que el video no sea interactivo */
}

.hero-content {
  z-index: 1; /* Asegura que el contenido esté por encima del video */
  padding: 20px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff4500;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #e63e00;
}

/* Características del Juego */
.features-section {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}
.features-section h2 {
  font-size: 2rem; /* Ajustado para pantallas pequeñas */
  margin-bottom: 20px;
}
.features-section .features-grid {
  display: grid;
  grid-template-columns: 1fr; /* Mostrar en una sola columna en móviles */
  gap: 20px;
}
.features-section .features-grid .feature-item {
  padding: 20px;
}
.features-section .features-grid .feature-item img {
  width: 50px; /* Ajustamos el tamaño de los íconos */
  margin-bottom: 10px;
}
.features-section .features-grid .feature-item h3 {
  font-size: 1.5rem;
}
.features-section .features-grid .feature-item p {
  font-size: 1rem;
  color: #666;
}
@media (min-width: 768px) {
  .features-section h2 {
    font-size: 2.5rem;
  }
  .features-section .features-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas/grandes */
    gap: 30px;
  }
  .features-section .features-grid .feature-item img {
    width: 80px; /* Iconos más grandes en pantallas grandes */
  }
}

/* Cuerpo de Inicio */
.cuerpoInicio {
  display: flex;
  flex-direction: column; /* Columna en móviles */
  margin: 30px 20px;
  gap: 20px;
}
.cuerpoInicio article {
  width: 100%;
  margin-bottom: 20px;
}
.cuerpoInicio article h2 {
  font-size: 1.8rem; /* Ajustado para móviles */
}
.cuerpoInicio article p {
  font-size: 1rem;
  color: #333;
  text-align: justify;
}
.cuerpoInicio article img {
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .cuerpoInicio {
    flex-direction: row; /* Filas en pantallas grandes */
    justify-content: space-between;
  }
  .cuerpoInicio article {
    width: 45%; /* Cada artículo toma el 45% del ancho */
  }
}

/* Call to Action */
.cta-section {
  text-align: center;
  padding: 50px 20px; /* Aumentar padding en la sección para mayor espacio */
  background-color: #ff4b2b;
  color: white;
  /* Ajustes para pantallas grandes */
}
.cta-section h2 {
  font-size: 2rem; /* Ajustado para móviles */
  margin-bottom: 20px; /* Añadir margen inferior al título */
}
.cta-section .cta-button {
  display: inline-block; /* Mantener el botón inline-block */
  padding: 15px 30px; /* Aumentar el padding del botón */
  font-size: 1.2rem;
  background-color: white;
  color: #ff4b2b;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Añadir espacio entre el botón y el título */
}
.cta-section .cta-button:hover {
  background-color: #d6391d;
  color: white;
}
@media (min-width: 768px) {
  .cta-section h2 {
    font-size: 2.5rem;
  }
  .cta-section .cta-button {
    padding: 20px 40px; /* Más grande en pantallas grandes */
    font-size: 1.4rem;
  }
}

/* Animación de fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animación de fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Estilos generales para la tarjeta */
.card-container {
  width: 300px;
  height: 330px;
  perspective: 1000px; /* Da profundidad a la animación */
  margin: 20px auto; /* Centra la tarjeta */
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.is-flipped {
  transform: rotateY(180deg); /* Efecto de voltear la carta al hacer clic */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta la cara posterior cuando no está visible */
  border: 2px solid #ffd441;
  border-radius: 10px;
}

/* Frente de la carta con el degradado circular */
.card-front {
  background: radial-gradient(circle, #ffd441, #ff7541); /* Degradado circular */
}

.card-front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin distorsión */
  border-radius: 10px;
}

/* Parte posterior de la carta con la descripción */
.card-back {
  background: radial-gradient(circle, #ff7541, #ff416c); /* Degradado circular */
  color: #fff;
  text-align: center;
  transform: rotateY(180deg); /* Oculta la parte posterior al principio */
  padding: 20px;
  border-radius: 10px;
}

.card-back h2 {
  margin-bottom: 10px;
}

.card-back p {
  margin: 5px 0;
}

/* Estilo de contenedor de cartas */
.contenedorDeCarta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cartas en la sección */
  gap: 20px; /* Espacio entre las cartas */
}

.imgPersonajes {
  width: 50%;
  height: 20%;
}

.card-front h2 {
  margin: 0; /* Elimina el margen del título */
  padding: 10px 0; /* Añade algo de padding */
  font-size: 1.5em; /* Tamaño de fuente */
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto para mejor legibilidad */
  position: absolute; /* Para posicionarlo sobre la imagen */
  width: 100%; /* Ancho completo */
  bottom: 1px; /* Coloca el título en la parte inferior */
  text-align: center; /* Centra el texto */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor visibilidad */
  border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
}

.logoRangos {
  width: 200px;
}

.map-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  /* Estilos personalizados por tipo de mapa */
}
.map-section .map-container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.map-section .map-container img {
  border-radius: 10px;
  margin-bottom: 10px;
}
.map-section .map-container h2 {
  font-size: 1.5em;
  margin: 10px 0;
}
.map-section .map-container p {
  font-size: 1em;
  color: #666;
  padding: 0 10px;
}
.map-section .ciudad-map {
  background-color: #d1e7dd; /* Verde claro */
}
.map-section .ciudad-map h2 {
  color: #198754; /* Verde */
}
.map-section .desert-map {
  background-color: #fdf2e9; /* Beige claro */
}
.map-section .desert-map h2 {
  color: #c56a11; /* Naranja */
}
.map-section .snow-map {
  background-color: #f8f9fa; /* Gris claro */
}
.map-section .snow-map h2 {
  color: #6c757d; /* Gris */
}
.map-section .plain-map {
  background-color: #e2eafc; /* Azul claro */
}
.map-section .plain-map h2 {
  color: #0d6efd; /* Azul */
}
.map-section .jungle-map {
  background-color: #e9f7df; /* Verde claro */
}
.map-section .jungle-map h2 {
  color: #28a745; /* Verde oscuro */
}
.map-section .multibiome-map {
  background-color: #ffe5e9; /* Rosa claro */
}
.map-section .multibiome-map h2 {
  color: #d63384; /* Rosa fuerte */
}

/* Sección de Contador de Logros */
.achievement-counter {
  background-color: #1e1e1e;
  padding: 50px 0;
  text-align: center;
  color: #fff;
}

.achievement-counter .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.achievement-counter .section-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #ffcc00;
}

.counter-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.counter-item {
  flex: 1 1 30%;
  margin: 20px;
  padding: 30px;
  background-color: #292929;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.counter-item:hover {
  transform: scale(1.05);
}

.counter-item i {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffcc00;
}

.counter-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.counter-item p {
  font-size: 32px;
  margin-top: 0;
}

.counter {
  font-weight: bold;
  color: #ffcc00;
}

/* Responsive para pantallas más pequeñas */
@media (max-width: 768px) {
  .counter-container {
    flex-direction: column;
    align-items: center;
  }
  .counter-item {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif; /* Fuente moderna y estilizada */
  font-size: 3.5rem; /* Tamaño grande para escritorio */
  font-weight: 700; /* Negrita para mayor impacto */
  color: #ff4b2b; /* Color principal llamativo */
  text-align: center; /* Centra el título */
  text-transform: uppercase; /* Todo en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  /* Sombra para dar profundidad sin animaciones */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  /* Escalabilidad para dispositivos móviles */
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
}

/* Alternativa: Borde inferior decorativo */
header {
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  background-size: 200% 200%;
  animation: gradienteAnimadoHeader 5s ease infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px 25px;
}

header img {
  margin-left: 0px;
}

nav {
  position: relative;
}

@keyframes gradienteAnimadoHeader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.menu-icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffecd2;
}

@media (max-width: 1024px) {
  nav ul li a {
    padding: 15px 5px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 5px 35px;
    display: flex;
    justify-content: space-around;
  }
  .menu-icon {
    display: block;
  }
  nav ul {
    display: none;
    flex-direction: column;
    background: #ff416c;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  nav ul.show {
    display: flex;
  }
  nav ul li {
    margin: 0;
    padding: 15px;
    text-align: right;
  }
  nav ul li a {
    padding: 10px 5px;
  }
}
@media (max-width: 480px) {
  header {
    padding: 5px 30px;
  }
}
@media (max-width: 320px) {
  header {
    padding: 5px 25px;
  }
}
footer {
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  color: #fff;
  padding: 40px 0px 0px 0px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
footer .footer-container .footer-section {
  flex: 1 1 200px;
  margin: 20px;
}
footer .footer-container .footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
footer .footer-container .footer-section p, footer .footer-container .footer-section ul {
  font-size: 0.9rem;
  line-height: 1.6;
}
footer .footer-container .footer-section ul {
  list-style: none;
}
footer .footer-container .footer-section ul li {
  margin-bottom: 10px;
}
footer .footer-container .footer-section ul a {
  color: #fff;
  text-decoration: none;
}
footer .footer-container .footer-section ul a:hover {
  color: #f0a500; /* Efecto hover */
}
footer .footer-container .social-icons {
  display: flex;
  gap: 15px;
}
footer .footer-container .social-icons a img {
  width: 40px;
  transition: transform 0.3s ease;
}
footer .footer-container .social-icons a img:hover {
  transform: scale(1.2);
}
footer .footer-bottom {
  background-color: #222;
  padding: 20px 0;
  text-align: center;
}
footer .footer-bottom p {
  margin: 0;
  font-size: 0.8rem;
}
footer .footer-bottom p a {
  color: #f0a500;
  text-decoration: none;
}
footer .footer-bottom p a:hover {
  text-decoration: underline;
}

/* Estilo para el Preloader */
/* Estilo para el Preloader */
/* Estilo para el Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Fondo traslúcido */
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px); /* Efecto borroso */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilo para el GIF */
#loader-gif {
  width: 150px; /* Ajusta el tamaño del GIF */
  height: auto;
}

/* Estilos que se aplicarán después de cargar la página */
#contenido {
  /* Aquí puedes poner los estilos normales de tu página */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 1s ease-in;
}/*# sourceMappingURL=sass.css.map */